doctype html
head
  title Sunlight
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  header.page-header
    .container
      .page-header__desc
        .page-header__logo
        .page-header__profession
          | ПРОДАВЕЦ-КАССИР
        .page-header__profession-text
          | ТЫ ЛЮБИШЬ ОБЩАТЬСЯ?
          br
          | ТЕБЯ ПРИВЛЕКАЕТ БЛЕСК БРИЛЛИАНТОВ?
          br
          | ТЫ ХОЧЕШЬ РАБОТАТЬ В КОМАНДЕ ПРОФЕССИОНАЛОВ?
        .page-header__profession-us
          | ТОГДА ТЕБЕ К НАМ!
        a.page-header__btn.btn(href="#")
          | ОТКЛИКНУТЬСЯ НА ВАКАНСИЮ
      .page-header__icon-right
      .page-header__tick

  main.page-main
    .features
      .title.features-title
      .title__line
      .title__text
        | МЫ ПРЕДЛАГАЕМ

      .features-slider

    .sunlight-desc
      .container
        | ЛУЧШИЕ СОЗДАТЕЛИ МОДНЫХ ЮВЕЛИРНЫХ УКРАШЕНИЙ И ЧАСОВ ПО ДЕМОКРАТИЧНЫМ ЦЕНАМ!
        br
        | НАША МИССИЯ – СТАТЬ ВЕРНЫМ КОНСУЛЬТАНТОМ ПО СТИЛЮ И РАДОВАТЬ НАШИХ ПОКУПАТЕЛЕЙ
        br
        | БЛЕСКОМ ДРАГОЦЕННЫХ КАМНЕЙ И КРАСИВЫМ ДИЗАЙНОМ УКРАШЕНИЙ,
        br
        | С КОТОРЫМИ НЕ ЗАХОЧЕТСЯ РАССТАВАТЬСЯ НИ НА ДЕНЬ!

    .requirements
      .container
        .title.requirements-title
          .title__line
          .title__text
            | МЫ ИЩЕМ

        .requirements-list
          .requirements-item.requirements-item--1
            .requirements-item__icon
            .requirements-item__text
              | АКТИВНЫХ, АМБИЦИОЗНЫХ
              br
              | РЕБЯТ, КОТОРЫЕ КАЖДЫЙ ДЕНЬ ДВИГАЮТСЯ К СВОЕЙ ЦЕЛИ!
          .requirements-item.requirements-item--2
            .requirements-item__icon
            .requirements-item__text
              | КОМАНДНЫХ ИГРОКОВ, КОТОРЫЕ  ВДОХНОВЛЯЮТСЯ КОМАНДОЙ И МОТИВИРУЮТ ДРУГИХ
          .requirements-item.requirements-item--3
            .requirements-item__icon
            .requirements-item__text
              | КЛИЕНТООРИЕНТИРОВАННЫХ СОТРУДНИКОВ С АКТИВНОЙ ЖИЗНЕННОЙ ПОЗИЦИЕЙ

        a.requirements-btn.btn(href="#")
          | ОТКЛИКНУТЬСЯ НА ВАКАНСИЮ

    .implement
      | ВМЕСТЕ С ТОБОЙ МЫ РЕАЛИЗУЕМ НАШИ САМЫЕ СМЕЛЫЕ ИДЕИ!

    .expect
      .title.title--centered.expect-title
        .title__line
        .title__text
          | Мы ожидаем

      .expect__list
        .expect__item
          span
          | КОМАНДНОЙ РАБОТЫ, НАПРАВЛЕННОЙ НА ВЫПОЛНЕНИЕ ПЛАНОВЫХ ПОКАЗАТЕЛЕЙ МАГАЗИНА
        .expect__item
          span
          | ВЫСОКОГО КЛИЕНТСКОГО СЕРВИСА
        .expect__item
          span
          | УЧАСТИЯ ВО ВНУТРЕННИХ ПРОЦЕССАХ МАГАЗИНА: ВИЗУАЛЬНЫЙ МЕРЕЧЕНДАЙЗИНГ, РЕПЛЕНИШМЕНТ, ИНВЕНТЕРИЗАЦИИ, РАБОТА С КАССОВЫМ ТЕРМИНАЛОМ, И Т.П.
      a.expect__btn.btn(href="#")

    .way
      .container
        .way__title
          |ЕСЛИ ТЫ СООТВЕТСТВУЕШЬ НАШИМ ТРЕБОВАНИЯМ И ХОЧЕШЬ СТАТЬ ЧАСТЬЮ КОМАНДЫ, ТО МЫ ПРЕДЛАГАЕМ ТЕБЕ ПРОЙТИ НЕБОЛЬШОЙ ПУТЬ:
        .way__container
          .way__container-item
            .way__container-item-icon.way__container-item-icon-1
            .way__container-item-text
              .way__container-item-text-1
                | ОТБОР ПО РЕЗЮМЕ
              .way__container-item-text-2
                | ПОЗДРАВЛЯЕМ, ВЫ ЕГО ПРОШЛИ!
          .way__container-item
            .way__container-item-icon.way__container-item-icon-2
            .way__container-item-text
               .way__container-item-text-1
                | ОНЛАЙН-ИНТЕРВЬЮ
              .way__container-item-text-2
                | ПОНАДОБЯТСЯ НЕСКОЛЬКО МИНУТ ТВОЕГО ВРЕМЕНИ
          .way__container-item
            .way__container-item-icon.way__container-item-icon-3
            .way__container-item-text
               .way__container-item-text-1
                | ЗНАКОМСТВО В ОФИСЕ
              .way__container-item-text-2
                | В СЛУЧАЕ УСПЕХА - С ВАМИ СВЯЖУТСЯ НАШИ СПЕЦИАЛИСТЫ.
        .way-btn.btn
          |ОТКЛИКНУТЬСЯ НА ВАКАНСИЮ

    footer.page-footer
      .container
        .page-footer__logo
        .page-footer__copyright
          | © 2017 SUNLIGHT. ВСЕ ПРАВА ЗАЩИЩЕНЫ.